doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title noom.
        link(rel="stylesheet", href="/public/style.css")
    body
        div#enter
            form#enterForm
                h1#noom noom.
                h5 room name
                input(id="roomInput", maxlength="10", required, type="text")
                h5 nickname
                input(id="nicknameInput", maxlength="15", required, type="text")
                button enter
        div#stream
            div#streamWrap
                div#myStream
                    h1#roomTitle
                    div#videoContainer
                        video#myFace(autoplay,playsinline)
                        video#peerFace(autoplay,playsinline)
                    div#buttonContainer
                        button#mute
                            img(src="/public/icons/microphone-solid.svg")
                        button#camera
                            img(src="/public/icons/video-solid.svg")
                        select#cameras
                div#myPanel
                    div#nicknameContainer
                        h3#currentNickname
                        button#exitBtn
                            img(src="/public/icons/angle-right-solid.svg")
                    form#chatForm
                        ul#chatList
                        div#textContainer
                            input(placeholder="Message", required, type="text")
                            button
                                img(src="/public/icons/arrow-circle-up-solid.svg")
        script(src="/socket.io/socket.io.js")
        script(src="/public/app.js")