@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

:root {
  --point: #1338BD;
  --gray: #d7d8d8;
  --black: #353535;
}

input:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
  color: #353535;
}

body {
  width: 100%;
  min-width: 1280px;
  min-height: 720px;
}




/* ----------------- */

#enter {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 130px;
  padding: 30px;
  background-color: white;
  font-family: 'Jost', sans-serif;
  font-size: 15px;
}

#enterForm {
  width: 100%;
  height: 100%;
}

#enterForm h1#noom {
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: bold;
  color: var(--point);
}

#enterForm h5 {
  font-weight: 300;
  padding-bottom: 10px;
}

#enterForm input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid lightgray;
}

#enterForm button {
  position: relative;
  right: 5px;
  margin-top: 20px;
  border: none;
  background-color: white;
}

#enterForm button:hover {
  font-weight: bold;
  transition: all ease 0.1s;
}

/* ----------------- */




#stream {
  width: 100vw;
  height: 100vh;
  padding: 1.9% 0 1.9% 20%;
}

#streamWrap {
  width: 75%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid lightgray;
}

/* ----------------- */

#myStream {
  width: 40%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 25px;
  margin-right: 10px;
  overflow-x: hidden;
  padding-bottom: 20px;
}

#myStream h1 {
  padding-top: 3px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: bold;
  color: var(--point);
}

#myStream #videoContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex-wrap: wrap;
  overflow-x: hidden;
}

#myStream video#myFace {
  width: 380px;
  height: 285px;
  margin-bottom: 17px;
  background-color: var(--gray);
}

#myStream video#peerFace {
  width: 380px;
  height: 285px;
  margin-bottom: 17px;
  background-color: var(--gray);
  background-image: url("/public/img/user.png");
  background-position: center;
  background-repeat: no-repeat;
}

#myStream #buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#myStream button {
  padding: 0;
  padding-right: 30px;
  border: none;
  border-radius: 50%;
  background-color: transparent;
}

#myStream select {
  height: 38px;
  border: none;
  background-color: transparent;
  color: var(--point);
}

#myStream select:focus {
  outline: none;
}

/* ----------------- */

#myPanel {
  width: 100%;
  max-width: 330px;
  background-color: white;
  margin-left: 10px;
}

#myPanel #nicknameContainer {
  display: flex;
  justify-content: space-between;
}

#myPanel #nicknameContainer #currentNickname {
  font-size: 20px;
  font-weight: bold;
  color: var(--point);
}

#myPanel #nicknameContainer #exitBtn {
  background: none;
  border: none;
  font-size: 20px;
}

#textContainer {
  display: flex;
}

#myPanel input {
  width: 235px;
  padding: 5px 10px;
  border: none;
  background-color: var(--gray);
}

#textContainer button {
  width: 70px;
  padding: 5px;
  border: none;
  background-color: var(--point);
  color: white;
}

#myPanel #chatForm #chatList {
  width: 305px;
  height: 560px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid lightgray;
}

#myPanel #chatForm #chatList li {
  margin-top: 5px;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
  font-size: 15px;
  word-break: break-all;
}

#myPanel #chatForm #chatList span {
  font-size: 12px;
}

